#settingsButton {
    width: 50px;
    height: 50px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin: 0;
    align-self: center;
}
#settingsButton:hover {
    animation: animation 5s linear infinite;
}

@keyframes animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}