@media only screen and (orientation: portrait) {
  .header {
    
  }
  #settingsButton {
    position: relative;
    
  }
  .row {
    max-width: 100vw;
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: rgb(245, 54, 54);
  
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.699);
}


body {
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-image: url('./backgroundheader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  overflow: hidden;
  max-height: 100%;
  width: 100%;
}
.travel {
  margin-top: 100px;
}
.travel {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  transition: 1s all ease-in-out;
}

.travel:after {
  display: block;
  content: '';
  height: 2px;
  background-color: rgba(126, 126, 126, 0.822);
  width: 100%;
}
.mainpage {
  
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-areas: "videoplayer videolist";
}
